.field-form {
  margin-bottom: 10px;
  display: block;
}

.fieldset {
  margin-bottom: 20px;
}

.field-form-cat {
  display: inline;
}

/* .field-how {
  margin-top: 10px;
} */

.last-field {
  margin-bottom: auto;
}

.form-color {
  margin-top: 10px;
}
